{% extends "base.html" %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center login">
        <div class="card card-container">
            <form method="post" action="{% url 'accounts:login' %}" class="form-signin">
                {% csrf_token %}
                <div class="item">
                    <span>{{ form.username.label_tag }}</span>
                    {{ form.username }}
                </div>

                <div class="item">
                    <span>{{ form.password.label_tag }}</span>
                    {{ form.password }}
                </div>

                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                <input type="hidden" name="next" value="{{ next }}">
               
            </form><!-- /form -->
        </div>
    </div>

    {% if form.errors %}
        <div class="d-flex justify-content-center login alert alert-danger">
            <p class="error" >Your username and password didn't match. Please try again.</p>
        </div>
    {% endif %}

    <form method="post" action="{% url 'accounts:login' %}">
       
    </form>

{% endblock %}