<div class="d-flex justify-content-center">
    <div class="card" id="quiz-start" style="min-width: 40%; margin-top: 40px; margin-bottom: 40px;">
        <div class="card-body">
            <h5 class="card-title">{{quiz_object.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Max possible points: {{quiz_object.score}}</h6>
            <p class="card-text">{{quiz_object.description}}</p>
        </div>
        <div class="d-grid d-md-block" style="padding: 10px;">
            <button type="button" class="btn btn-primary" style="float: right;">Start Quiz</button>
        </div>
        
    </div>
</div>