{% extends 'base.html'%}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'payments/css/style.css' %}">
{% endblock %}

{% block title %} Quiz - Checkout {% endblock %}

{% block content %}
    <div class="donations margin-top-base">
        <div class="d-flex justify-content-center" id="card-donations">
            <div class="card base-card">
                <div class="card-body">
                    <h5 class="card-title">Thank you for considering donations</h5>
                    <p class="card-text">With small donations we will be able to continue making games and paying server support.</p>
                    <p>We are using Stripe to enable donations which will redirect you to a safe page for making payment.</p>
                </div>
                <div class="d-grid d-md-block button-wrapper">
                    <form action="/payments/checkout/" method="POST">
                        <button class="btn btn-primary" type="submit" id="checkout-button">Checkout</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}