{% extends 'base.html'%}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'payments/css/style.css' %}">
{% endblock %}

{% block title %} Quiz - Checkout Success {% endblock %}

{% block content %}
    <div class="donations margin-top-base">
        <div class="d-flex justify-content-center" id="card-donations">
            <div class="card base-card">
                <div class="card-body">
                    <h5 class="card-title">Thank you for your contribution.</h5>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}