#nav-index {
    color: rgb(108, 117, 125) !important;
}


/* set image to max width and height to cover page */
.photo-main{
    min-height: 100%;
    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

/* setting one more backgroud layer to apply custom layer of color */
.banner .layer {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* setting styles for welcome text on home page */
#welcome {
    margin-top: 20px;
    padding: 4rem 3rem;
    margin: 0 auto;
}

/* wrapper for the question icon */
#welcome .question-wrapper {
    border-radius: 250px;
    height: 250px;
    max-width: 250px;
    background: #F8FAF5;
    margin:0 auto;
    text-align: center;
}

#welcome  .question-wrapper i {
    color: #353585;
    font-size: 12rem;
    line-height: 200px;
    margin-left:-15px;
    padding-top: 20px;
}

#welcome .welcome-text{
    font-weight: 900;
    color: #fff;
}

@media only screen and (max-width: 320px) {
    /* wrapper for the question icon */
    #welcome .question-wrapper {
        border-radius: 200px;
        height: 200px;
        max-width: 200px;
        background: #F8FAF5;
        margin:0 auto;
        text-align: center;
    }

    #welcome  .question-wrapper i {
        color: #353585;
        font-size: 9rem;
        line-height: 200px;
        margin-left:-10px;
        padding-top: 5px;
    }
}