{% extends 'core/base.html'%}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/quiz.css' %}">
{% endblock %}

{% block content %}
    {% if quiz_object %}

        {% if not quiz_object.started %}
            {% include "core/quiz/quiz_description.html" %}
        {% else %}
            <ul class="list-group">
                {% for question in questions %}
                    <li class="list-group-item">
                        <form action="{% url 'quiz:quiz_question' question.id %}" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <legend><h1>{{ question.title }}</h1></legend>
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                            {% for answer in question.answers.all %}
                                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ answer.id }}">
                                <label for="choice{{ forloop.counter }}">{{ answer.answer }}</label><br>
                                <input type="hidden" name="quiz" value="{{ quiz_object.id }}" />
                            {% endfor %}
                        </fieldset>
                        <input type="submit" value="Answer">
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}