#nav-quiz {
    color: rgb(108, 117, 125) !important;
}

/* Quiz description template styling */
#quiz-description .card {
    min-width: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#quiz-description .card .button-wrapper {
    padding: 10px;
}

#quiz-description .card .button-wrapper a {
    float: right;
}


/* question list items */
#question-list li {
    margin-bottom: 10px;
    border: 1px solid #DEDEDE;
    box-shadow: 0 3px 3px #DEDEDE;
}

#question-list li legend {
    text-align: center;
}

#question-list li fieldset {
    padding: 20px 40px;
}

/* Quiz completed template styling */
#quiz-completed .card {
    padding: 40px 20px;
    box-shadow: 0 3px 3px #DEDEDE;
    margin: 0 auto;
}
#quiz-completed .card .checkmark-wrapper {
    text-align: center;
}
#quiz-completed .card  i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
}

.quiz-list-item {
    padding: 40px 20px;
    box-shadow: 0 3px 3px #DEDEDE;
    margin: 0 auto;
    max-width: 400px;
    width: 50%;
}

.quiz-list-item .quiz-start-btn {
    float: right;
}
