<header class="p-3 bg-dark text-white" id="header-nav">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'quiz:index' %}" class="nav-link px-2 text-white" id="nav-index">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white" id="nav-dashboard">Dashboard</a></li>
            <li><a href="{% url 'quiz:quiz_start' 1 %}" class="nav-link px-2 text-white" id="nav-quiz">Quiz</a></li>
            <li><a href="#" class="nav-link px-2 text-white" id="nav-settings">Settings</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Admin</a></li>
        </ul>


        <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Register</button>
        </div>
    </div>
</header>
