<header class="p-3 bg-dark text-white" id="header-nav">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'quiz:index' %}" class="nav-link px-2 text-white" id="nav-index">Home</a></li>
            <li><a href="{% url 'quiz:quiz_list_index' %}" class="nav-link px-2 text-white" id="nav-quiz">Quiz</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'payments:stripe_checkout' %}" class="nav-link px-2 text-white" id="nav-settings">Donate</a></li>
            {% endif %}
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>


        <div class="text-end">
            {% if user.is_authenticated %}
                {% if user.is_authenticated and user.is_staff %}
                    <a href="/admin" class="btn btn-outline-light me-2">Admin</a>
                {% endif %}
                <a class="btn btn-outline-light me-2" href="{% url 'authentication:logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-outline-light me-2" href="{% url 'authentication:login' %}" role="button">Login</a>
                <a class="btn btn-warning" href="{% url 'authentication:register' %}" role="button">Register</a>
            {% endif %}
        </div>
    </div>
</header>
