<div class="d-flex justify-content-center" id="quiz-description">
    <div class="card" id="quiz-start">
        <div class="card-body">
            <h5 class="card-title">{{quiz_object.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Max possible points: {{quiz_object.score}}</h6>
            <p class="card-text">{{quiz_object.description}}</p>
        </div>
        <div class="d-grid d-md-block button-wrapper" style="padding: 10px;">
            <a class="btn btn-primary" href="{% url 'quiz:quiz_start' quiz_object.id %}?option=start" role="button">Start Quiz</a>
        </div>
        
    </div>
</div>
