{% extends "base.html" %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/login.css' %}">
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center login">
        <div class="card card-container">
            <h2>Register</h2>
            <form method="post" action="{% url 'authentication:register' %}" class="form-signin">
                {% csrf_token %}
                {% for field in form %}
                    <div class="item">
                        <span>{{ field.label_tag }}</span>
                        {{ field }}

                        {% if field.errors %}
                            <div class="error">
                                {% for error in field.errors %}
                                    <span class="alert alert-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Register</button>
                <input type="hidden" name="next" value="{{ next }}">
               
            </form>
        </div>
    </div>


{% endblock %}