/* setting project roboto fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.margin-top-base {
    margin-top: 60px;
}

.base-card {
    box-shadow: 0 3px 3px #DEDEDE;
}

/* Default color schema for the project */
.nav-item-active {
    color: rgb(108, 117, 125) !important;
}
